$body-bg-color: #d9b650;
$button-bg-color: white;
$button-hover-bg-color: #ffffd2;
$links-hover-color:  #ffffd2;
$title-font-color: #428fd6;
$text-font-color: black;
$info-icon-bg-color: #ddd;
$info-icon-font-color: #333;
$tooltip-bg-color: rgba(0, 0, 0, 0.7);
$tooltip-font-color: #fff;

$width: 300px;
$height: 130px;
$settings-page-grid-col: calc( $width / 4);

*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body, html{
    width:300px;
    height: 130px;
    background-color: $body-bg-color;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding-bottom: 10px;

    
}

/* Group Tabs Button */

#listUrls{
    width: 170px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    transition: background-color 0.2s ease;
    background-color: $button-bg-color;
    color: black;

    &:hover {
        cursor: pointer;
        background-color: $button-hover-bg-color;
    }
}

/* Links */

#links-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8px;
}

#link-style{
    margin: 2px 10px;
    font-family: 'Poppins', sans-serif;
    transition: color 0.2s ease;
    text-decoration: none;

    &:hover{
        cursor: pointer;
        color: $links-hover-color;
    }
}

// ===== SETTINGS BAR  ===== //

.settings-bar-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
}

.settings-page-btn{
    background: transparent;
    border: 0px;
    cursor: pointer;
}

.settings-page-icon{
    height: 20px;
    width: 20px;
    transition: fill 0.2s ease;

    &:hover{
        cursor: pointer;
        fill: $links-hover-color;
    }
}

// ===== SETTINGS PAGE ===== //

.settings-container{
    width: 100%;
    height: 260%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.auto-grouping-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.groups-window-text{
    font-size: 13px;
    font-family: "Poppins", sans-serif;

    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.no-groups-text{
    font-size: 20px;
    font-family: "Poppins", sans-serif;

    grid-column: 1 / -1;
    grid-row: 1 / -1;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.groups-container{
    display: grid;
    grid-template-columns: repeat(4, $settings-page-grid-col);

    height: 95%;
    width: 95%;

    border: 1px solid black;
    margin: 10px;
    border-radius: 10px
}

.group{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

// For the individual groups

.toggle-size{
    --width: 35px !important;
}

// ===== TOGGLE BUTTON STYLING ===== //

.toggle-container{
    --width: 40px;
    --height: calc(var(--width) / 2);  
    --border-radius: calc(var(--height) / 2); 
    margin: 0px 20px;
  
    display: inline-block;
    cursor: pointer;
  }
  
.toggle-input{
    display: none;
  }
  
.toggle-fill{
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #ddd;
    transition: background 0.2s;
  }
  
.toggle-input:checked ~ .toggle-fill{
    /* background: #009578; */
    background: #83580B;
  
  }
  
.toggle-fill::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: var(--height);
    width: var(--height);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s
  }
  
.toggle-input:checked ~ .toggle-fill::after{
    transform: translateX(var(--height));
  }



.hide{
    display: none;
}