@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    --background-color:  #d9b650;
    --popup-width: 300px;
    --popup-height: 130px;
    --popup-grp-tab-btn-width: 170px;
    --popup-grp-tab-btn-height: 50px;
    --popup-grp-tab-btn-font-size: 15px;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:var(--popup-width);
    height: var(--popup-height) ;
    background-color:var(--background-color);
    ;
}


/* Group Tabs Button */

.group-tabs-btn{
    width: var(--popup-grp-tab-btn-width);
    height: var(--popup-grp-tab-btn-height);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: var(--popup-grp-tab-btn-font-size);
    transition: background-color 0.2s ease;
}

.group-tabs-btn:hover{
    cursor: pointer;
    background-color: #ffffd2;
}

/* Links */

.links-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8px;
}

.link-style{
    margin: 2px 10px;
    font-family: 'Poppins', sans-serif;
    transition: color 0.2s ease;
    text-decoration: none;
}

.links-container a:hover{
    cursor: pointer;
    color: rgb(255, 255, 210);
}